@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Gilroy"
}

::selection{
  color: rgb(255,136,0)
}

.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* WebKit browsers */
}